
<div style="background-color:rgba(0, 0, 0, 0.116);">
    <h2 style="padding-top: 3%;text-align: center;">Contact us</h2>
        <div class="contact">
            <div>
            <address style="font-size: 90%">
                ..........................<br>.................<br>...........<br>
                <i class="fa fa-phone"></i>:9999999999<br>
                <span class="iconify" data-icon="mdi-whatsapp" data-inline="false"></span>: 852 8765 4321<br>
                <i class="fa fa-envelope"></i>:
                <a href="mailto:saisree538@gmaul.com">saisree538@gmail.com</a>
            </address>
            </div>
    
            <div>
            <address style="font-size: 90%">
                ..........................<br>.................<br>...........<br>
                <i class="fa fa-phone"></i>:9999999999<br>
                <span class="iconify" data-icon="mdi-whatsapp" data-inline="false"></span>: 852 8765 4321<br>
                <i class="fa fa-envelope"></i>:
                <a href="mailto:saisree538@gmaul.com">saisree538@gmail.com</a>
            </address>
            </div>
    
            <div class="social">
            <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
            <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
            <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
            <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
            <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
            <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
            </div>
    
    
        <div class="cform">
        <form novalidate #loginForm="ngForm" >
            <p>
            <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name">
            </mat-form-field>
            </p>
    
            <p>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Email</mat-label>
                <input matInput placeholder="email">
            </mat-form-field>
            </p>
    
            <p>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>message</mat-label>
                <textarea matInput placeholder="message" matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="5"></textarea>
            </mat-form-field>
            </p>
            <button mat-raised-button style="background-color:lightseagreen;">Submit</button>
        </form>
        </div>
    
    </div>
</div>
    
