<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <app-courses></app-courses>
    <div class="bg">
      <header style="color: aliceblue;padding: 20px;margin-left: 7%;padding-top: 6%;">
        <h1 style="font-size: 60px;">The</h1>
        <h1 style="font-size: 60px;"><span style="color: yellow">H</span>appiness <span style="color:yellow">P</span>rogram</h1>
        <!-- <p class="subhead" style="margin-left: 10%;">Making <span style="color: yellow;">LIFE</span> a Celebration</p> -->
        <h1 style="font-family: 'Caveat';">Practical Wisdom for Improving the quality of <span style="color: yellow">LIFE</span></h1>      
      </header>
  
        <!-- <div class="bgin">
            <div class="img">
                <img src="../assets/img1/team2.jpg" >
            </div>
            <div class="imgtext">  
            </div>
        </div> -->
    </div>
    
    <div class="sec">
      <h1 style="text-align: center;padding: 4%;">Turn tears into smiles</h1>
        <div class="sec1">
            <div class="miseryimg">  
                <img src="../assets/img1/sad1.jpg" height="350px" width="350px" style="border-radius: 60%;">
                <h4 style="text-align: center;font-family: 'Sriracha', cursive">If you follow fun, <br>misery follows you.</h4>    
            </div>
            <div>
              <img src="../assets/img1/timeforchange.jpg" height="350px" width="350px" style="border-radius: 60%;">
            </div>
            <div class="hpyimg">
                <img src="../assets/img1/happy1.jpg" height="350px" width="350px" style="border-radius: 60%;">
                <h4 style="text-align: center;font-family: 'Sriracha', cursive">you follow knowledge,<br> happiness follows you.</h4>

            </div>
        </div>    
    </div>

    <div class="three">

        <h1 style="text-align: center;margin-top: 6%;color: aliceblue;">Upcoming Courses</h1>

        <div class="upcoming">
          <div class="ca card0">
            <mat-card>
              <div class="con">
              <img mat-card-image src="../../assets/img1/hpyimg1.jpg" style="height: 250px;" alt="Photo of a Shiba Inu" >
              <div class="mid">
                <div class="text">Lets do</div></div>
              </div>
              <mat-card-content>
                  <h3 style="font-family: 'Sriracha', cursive;">The Happiness Program</h3>
                  <p class="cdet">10th to 13th sept</p>
                  <p class="cdet">evening 6 to 8</p>
                  <p class="cdet">with sudarshan badireddy</p>
              </mat-card-content>
        
              <mat-card-actions style="display: flex;justify-content: space-around;">
                <button mat-raised-button class="background-primary">REGISTER</button>
                <button mat-raised-button class="background-primary">SHARE</button>
                
              </mat-card-actions>
            </mat-card>
          </div>
        
          <div class="ca card2">
        
            <mat-card>
              <div class="con">
              <img mat-card-image src="../../assets/img1/hpyimg2.jpg" style="height: 250px;" alt="Photo of a Shiba Inu" >
              <div class="mid">
                <div class="text">Lets do</div></div>
              </div>
              <mat-card-content>
                  <h3 style="font-family: 'Sriracha', cursive;">The Happiness Program</h3>
                  <p class="cdet">10th to 13th sept</p>
                  <p class="cdet">evening 6 to 8</p>
                  <p class="cdet">with sudarshan badireddy</p>
              </mat-card-content>
              <mat-card-actions style="display: flex;justify-content: space-around;">
                <button mat-raised-button class="background-primary">REGISTER</button>
                <button mat-raised-button class="background-primary">SHARE</button>
               
              </mat-card-actions>
            </mat-card>
            
          </div>
        
        
          <div class="ca card3">
        
            <mat-card>
              <div class="con">
              <img mat-card-image src="../../assets/img1/hpyimg3.jpg" style="height: 250px;" alt="Photo of a Shiba Inu" >
              <div class="mid">
                <div class="text">Lets do</div></div>
              </div>
              <mat-card-content>
                  <h3 style="font-family: 'Sriracha', cursive;">The Happiness Program</h3>
                  <p class="cdet">10th to 13th sept</p>
                  <p class="cdet">evening 6 to 8</p>
                  <p class="cdet">with sudarshan badireddy</p>
              </mat-card-content>
              <mat-card-actions style="display: flex;justify-content: space-around;">
                <button mat-raised-button class="background-primary">REGISTER</button>
                <button mat-raised-button class="background-primary">SHARE</button>
                
              </mat-card-actions>
            </mat-card>
            
          </div>
        </div>

    </div>

    <h1 style="text-align: center;padding-top: 3%;">About Trainer</h1>
    <div class="teacher">
        <div class="timg">
            <img src="../assets/img1/boat.jpg" height="40%" width="40%">
        </div>
        <div class="aboutteacher">
            
            <h1 style="padding-top:8% ;padding-left: 8%;font-family: 'Sriracha', cursive;">Name ........ ..............</h1>
            <p style="padding: 8%;">The Art of Living is more of a principle, a philosophy of living life to its fullest. It is more a movement than an organization. Its core value is to find peace within oneself and to unite people in our society – of different cultures, traditions, religions, nationalities; and thus reminding us all that we have one goal to uplift human life everywhere."</p>

        </div>
    </div>

  <app-footer></app-footer>

</body>
</html>
