.bg
{
    background-image:url("../../../src/assets/img1/vtp1.jpg");
    min-height: 700px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgtext
{
    display: flex;
    padding: 8%;

}

.upcoming
{
    padding: 6%;
    padding-bottom:22% ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mid
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:rgba(0, 0, 0, 0.233);
}
.con:hover .mid{
    opacity: 1;
}
.text {
  
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
 
  }

.card
{ 
    height: 300px;
    width: 300px;  
}

.fixedbg
{
    background-image:url("../../../src/assets/img1/vtp1.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(68, 0, 255, 0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imgtext
{
    position: absolute;
   left: 48%;
  
    color:brown;
}

.teacher
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80%;
    
}


.contact
{
    background-color: paleturquoise;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}



