<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <app-courses></app-courses>
    <div class="bg">
      <header style="color: aliceblue;padding: 20px;margin-left: 7%;">
        <h1 style="font-size: 60px;"><span style="color:orange">V</span>olunteer</h1>
        <h1 style="font-size: 60px;"><span style="color:orange">T</span>raining <span style="color:orange">P</span>rogram</h1>
        <!-- <h1 style="font-size: 60px;"><span style="color:orange">P</span>rogram</h1> -->
        <h1 style="font-family: 'Caveat';">Discover & polish hidden shades of your Peronality...<br>Meet colorful & <span style="color:orange">Versatile</span> you</h1>   
      </header>
        <!-- <div class="smimg">
            <img src="../assets/img1/voltree1.jpg">
        </div> -->
    </div>

    <h1 style="text-align: center;margin-top: 6%;">Upcoming Courses</h1>

<div class="upcoming">
  <div *ngFor="let cd of coursedetails">
    <div class="ca card0">
      <mat-card>
        <div class="con">
        <img mat-card-image src="{{cd.image}}" style="height: 250px;" alt="Photo of a Shiba Inu" >
        <div class="mid">
          <div class="text">Lets do</div></div>
        </div>
        <mat-card-content>
            <h3 style="font-family: 'Sriracha', cursive;">{{cd.coursename}}</h3>
            <p class="cdet">{{cd.date}}</p>
            <p class="cdet">{{cd.time}}</p>
            <p class="cdet">{{cd.teacher}}</p>
        </mat-card-content>

        <mat-card-actions style="display: flex;justify-content: space-around;">
          <button mat-raised-button class="background-primary">REGISTER</button>
          <button mat-raised-button class="background-primary">SHARE</button>
          
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div> 

<div class="fixedbg">
    <img src="../assets/img1/voltree1.jpg" height="20%" width="40%"> 
    <div class="imgtext">
        <h3 style="font-family: 'Sriracha', cursive;">A volunteer has <br>such a joy –<br> that joy, itself, <br>comes as the reward.</h3>
    </div>
</div>

<div class="teacher">
    <h1 style="text-align: center;padding: 5%;">About the trainer</h1>
    <img style="border-radius: 100%;"src="../assets/img/ohp1.jpg">
    <div style="text-align: center; width: 50%;">
    <p style="font-style: regular;">The term happiness is used in the context of mental or emotional states, including positive or pleasant emotions ranging from contentment to intense joy.[1] It is also used in the context of life satisfaction, subjective well-being, eudaimonia, flourishing and well-being</p>
    </div>
</div>


<app-footer></app-footer>

    
</body>
</html>
