<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bg">
        <div class="bgtext">
        <h1 style="color:aliceblue;">Who is a volunteer?<br> One who comes to help,<br> without being asked to help;<br> one who is self-motivated,<br> inspired, becomes a volunteer.</h1>
        
        </div>
        <!-- <div class="smimg">
            <img src="../assets/img1/voltree1.jpg">
        </div> -->
    </div>

    <h1 style="text-align: center;margin-top: 6%;">Upcoming Courses</h1>

<div class="upcoming">
  <div class="card card0">
    <mat-card>
      <div class="con">
      <img mat-card-image src="../../assets/img/vtp.png" style="height: 250px;" alt="Photo of a Shiba Inu" >
      <div class="mid">
        <div class="text">Lets do</div></div>
      </div>
      <mat-card-content>
          <h3>Volunteer Training Program</h3>
          <p class="cdet">10th to 13th sept</p>
          <p class="cdet">evening 6 to 8</p>
          <p class="cdet">with sudarshan badireddy</p>
      </mat-card-content>

      <mat-card-actions style="display: flex;justify-content: space-around;">
        <button mat-button class="background-primary">REGISTER</button>
        <button mat-button class="background-primary">SHARE</button>
        
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="card card2">

    <mat-card>
      <div class="con">
      <img mat-card-image src="../../assets/img/vtp.png" style="height: 250px;" alt="Photo of a Shiba Inu" >
      <div class="mid">
        <div class="text">Lets do</div></div>
      </div>
      <mat-card-content>
          <h3>Volunteer Training Program</h3>
          <p class="cdet">10th to 13th sept</p>
          <p class="cdet">evening 6 to 8</p>
          <p class="cdet">with sudarshan badireddy</p>
      </mat-card-content>
      <mat-card-actions style="display: flex;justify-content: space-around;">
        <button mat-button class="background-primary">REGISTER</button>
        <button mat-button class="background-primary">SHARE</button>
       
      </mat-card-actions>
    </mat-card>
    
  </div>


  <div class="card card3">

    <mat-card>
      <div class="con">
      <img mat-card-image src="../../assets/img/vtp.png" style="height: 250px;" alt="Photo of a Shiba Inu" >
      <div class="mid">
        <div class="text">Lets do</div></div>
      </div>
      <mat-card-content>
          <h3>Volunteer Training Program</h3>
          <p class="cdet">10th to 13th sept</p>
          <p class="cdet">evening 6 to 8</p>
          <p class="cdet">with sudarshan badireddy</p>
      </mat-card-content>
      <mat-card-actions style="display: flex;justify-content: space-around;">
        <button mat-button class="background-primary">REGISTER</button>
        <button mat-button class="background-primary">SHARE</button>
        
      </mat-card-actions>
    </mat-card>
    
  </div>
</div>

<div class="fixedbg">
    <img src="../assets/img1/voltree1.jpg" height="20%" width="40%"> 
    <div class="imgtext">
        <h3>A volunteer has <br>such a joy –<br> that joy, itself, <br>comes as the reward.</h3>
    </div>
</div>

<div class="teacher">
    <h1 style="text-align: center;padding: 5%;">About the trainer</h1>
    <img style="border-radius: 100%;"src="../assets/img/ohp1.jpg">
    <p style="font-style: regular;">The term happiness is used in the context of mental or emotional states,<br> including positive or pleasant emotions ranging from contentment to<br> intense joy.[1] It is also used in the context of life satisfaction,<br> subjective well-being, eudaimonia, flourishing and well-being</p>
</div>


<h2 style="text-align: center;padding-top: 5%;">Contact us</h2>

<div class="contact">
      <div>
        <address style="font-size: 90%">
          ..........................<br>.................<br>...........<br>
          <i class="fa fa-phone"></i>:9999999999<br>
          <span class="iconify" data-icon="mdi-whatsapp" data-inline="false"></span>: 852 8765 4321<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:saisree538@gmaul.com">saisree538@gmail.com</a>
        </address>
      </div>

      <div>
        <address style="font-size: 90%">
          ..........................<br>.................<br>...........<br>
          <i class="fa fa-phone"></i>:9999999999<br>
          <span class="iconify" data-icon="mdi-whatsapp" data-inline="false"></span>: 852 8765 4321<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:saisree538@gmaul.com">saisree538@gmail.com</a>
        </address>
      </div>

      <div class="social">
        <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
        <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
        <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
        <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
        <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
        <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
      </div>


  <div class="cform">
    <form novalidate #loginForm="ngForm" >
      <p>
        <mat-form-field appearance="outline" style="width: 400px;">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline" style="width: 400px;">
          <mat-label>Email</mat-label>
          <input matInput placeholder="email">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline" style="width: 400px;">
          <mat-label>message</mat-label>
          <textarea matInput placeholder="message" matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="5"></textarea>
        </mat-form-field>
      </p>

      <button>submit</button>
     
    </form>
  </div>

</div>




    
</body>
</html>
