<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
   <a (click)="goto('home')">Home</a>
   <a (click)="goto('courses')">Courses</a>
<!-- <a (click)="goto('aboutpage')">About</a>
<a (click)="goto('Contact')">Contact</a> -->

<div id="home" class="home1">

</div>

<div id="courses" class="courses1">


</div>

</body>
</html>
<button routerLink="/form">form</button>
<button (click)="openloginform()"><span class="fa fa-sign-in fa-lg"></span>Login</button>
