<app-courses></app-courses>
<div class="bg">
  <header style="color:white;padding: 20px;margin-left: 7%;padding-top: 15%;">
    <h1 style="font-size: 60px;"><span style="color: skyblue">S</span>ahaj</h1>
    <h1 style="font-size: 60px;"><span style="color:skyblue">S</span>amadhi <span style="color: skyblue">M</span>editation</h1>
    <h1 style="font-family: 'Caveat';">Experience deep <span style="color: skyblue">Inner Peace</span> anytime anywhere</h1>
  </header>
</div>

<div class="quote">
    <h2 style="text-align: center;padding-top: 25px; font-family:'Caveat';padding: 5%;">Its a effortless meditation technique which helps<br> in clarity of mind and thoughs
        and increase <br>the level of self awareness</h2>
</div>

<div class="courses">
  <h1 style="text-align: center;padding-top:3%">Upcoming Courses</h1>
  <div class="upcoming">
    <div *ngFor="let cd of coursedet1;let i=index;" >
      <div class="ca card0">
        <mat-card>
          <div class="con">
          <img mat-card-image src="{{images[i%3].img}}" style="height: 250px;" alt="Photo of a Shiba Inu" >
          <div class="mid">
            <div class="text">{{cd.Imagetext}}</div></div>
          </div>
          <mat-card-content>
              <h3 style="font-family: 'Sriracha', cursive;">{{cd.coursename}}</h3>
              <p class="cdet">{{cd.startdate | date:'mediumDate'}} to {{cd.enddate | date:'mediumDate'}}</p>
              <p class="cdet">{{cd.time}}</p>
              <p class="cdet">{{cd.teacher}}</p>
          </mat-card-content>
  
          <mat-card-actions style="display: flex;justify-content: space-around;">
            <button mat-raised-button class="background-primary">REGISTER</button>
            <button mat-raised-button class="background-primary">SHARE</button>
            
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div> 
</div>


  
<h1 style="text-align: center;padding: 3%;">About the Trainer</h1>
<div class="teacher">

  <div class="teacher1">
      <div class="timg" >
        <img src="../assets/img/ohp1.jpg" width="80%">
      </div>

      <div class="ttext">
        <p>kjadnfkjsfmbhjkshdkjfhdsiufhsnbbgsuh<br>ilsufdkjhskdhfisudfjb</p>
        <p>kjadnfkjsfmbhjkshdkjfhdsiufhsnbbgsuh<br>ilsufdkjhskdhfisudfjb</p>
        <p>kjadnfkjsfmbh<br>jkshdkjfhdsiufhsnbbgsuh<br>ilsufdkjhskdhfisudfjb</p>
      </div>
  </div>
</div>
  


<app-footer></app-footer>



